<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: </div>
    <div><%= cocktail.title %></div>
    <div>Description: </div>
    <div><%= cocktail.description %></div>
    <div>Ingredients #1: </div>
    <div><%= cocktail.ingredient1 %></div>
    <div>Ingredients #2: </div>
    <div><%= cocktail.ingredient2 %></div>
    <div>Ingredients #3: </div>
    <div><%= cocktail.ingredient3 %></div>
    <div>Ingredients #4: </div>
    <div><%= cocktail.ingredient4 %></div>
    <div>Ingredients #5: </div>
    <div><%= cocktail.ingredient5 %></div>
    <div>Preparation: </div>
    <div><%= cocktail.preparation %></div>
</section>

<%- include('../partials/footer') %>